.rde-editor {
	&-video-preview {
		flex: 1;
	}
	&-video-holder {
		text-align: center;
		margin: 16px auto;
	}
	&-script-holder {
		width: 320px;
		margin: auto;
	}
	&-configurations {
		&-active-actor.ant-card-bordered {
			border-color: darken(#e8e8e8, 20);
			&:hover {
				border-color: darken(#e8e8e8, 20);
			}
		}
		&-alignment-holder {
			text-align: center;
		}
	}
}
