@import '~antd/dist/antd';

@import 'core/rde';
@import 'core/motion';

@import 'fonts/fonts';

@import 'antd/antd';
@import 'react-color/react-color';
@import 'fabricjs/fabricjs';

body {
	font-family: 'Omnes';
}

.search-input {
	width: 440px;
	height: 40px;
	padding-left: 40px;
	border-radius: 5px;
	border: solid 2px #f9f8fa;
	background-color: #f9f8fa;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Omnes';
}

.search-input:focus {
	background-color: #fff;
	outline: #e8dff4;
}

.add-title-input {
	width: 400px;
	height: 40px;
	padding-left: 10px;
	border-radius: 5px;
	border: solid 2px #f9f8fa;
	background-color: #f9f8fa;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Omnes';
}

.add-title-input:focus {
	background-color: #fff;
	outline: #e8dff4;
}
